In [17]:
import pandas as pd
# data = pd.Series([1, 3, 5, 7, 9])
# data = {
#     'Name': ['John', 'Anna', 'Peter', 'Linda'],
#     'Age': [28, 34, 29, 32],
#     'City': ['New York', 'Paris', 'Berlin', 'London']
# }
df = pd.DataFrame(data)

df = pd.read_excel("sample_data.xls")

df.sort_values(by='Age')

print(df.sort_values(by='Age'))
print(df[df['Age'] > 30])

   0 First Name  Last Name  Gender        Country  Age        Date    Id
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
   0 First Name Last Name  Gender        Country  Age        Date    Id
0  1      Dulce     Abril  Female  United States   32  15/10/2017  1562
2  3     Philip      Gent    Male         France   36  21/05/2015  2587
4  5    Nereida   Magwood  Female  United States   58  16/08/2016  2468
6  7       Etta      Hurn  Female  Great Britain   56  15/10/2017  3598
8  9   Vincenza   Weiland  Female  United States   40  21/05/2015  6548

In [19]:
#Ex.3
import pandas as pd

# Загрузка файла
df = pd.read_csv('train.zip')

# Показать первые строки
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [20]:
#Ex.4
import pandas as pd

# Загрузка файла
df = pd.read_csv('Iris_dataset.zip')
print(df.head())

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [22]:
#Ex.5
import pandas as pd

# Создание простого DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'London']
}

df = pd.DataFrame(data)

df.to_excel('people.xlsx', index=False)

df.to_json('people.json', orient='records', indent=4)

In [23]:
#Ex.6
import pandas as pd

# Load the local JSON file
df = pd.read_json("Iris.json")

# Show the first 5 rows
print(df.head())

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa